.currency-icon-btc, .currency-icon-eur, .currency-icon-usd, .currency-icon-eth, .currency-icon-cad
  display: inline-block
  overflow: hidden
  text-indent: -9999px
  text-align: left
  width: 16px
  height: 16px
  position: relative
  top: 3px

.currency-icon-btc
  background: image-url("btc.png") no-repeat
  background-size: 16px
  
.currency-icon-eth
  background: image-url("eth.png") no-repeat
  background-size: 16px

.currency-icon-eur
  background: image-url("eur.png") no-repeat
  background-size: 16px

.currency-icon-usd
  background: image-url("usd.png") no-repeat
  background-size: 16px
  
.currency-icon-cad
  background: image-url("cad.png") no-repeat
  background-size: 16px
